<!--<c-widget-stat-b class="mb-4 h4" title="Расположение">
  <div class="container">-->
<c-card class="h-100 mb-4">
  <c-card-header>
    <h6>Расположение</h6>
  </c-card-header>
  <c-card-body>
    <div class="container">
      <ya-map [center]="[56.880135, 60.609386]"
              [zoom]="14"
              [state]="{controls:['fullscreenControl'],
          behaviors: []}">
        <!--'zoomControl'-->
        <ya-placemark [geometry]="[56.880135, 60.609386]"></ya-placemark>
      </ya-map>
    </div>
  </c-card-body>
</c-card>
<!--  </div>
</c-widget-stat-b>-->
