<c-widget-stat-b class="mb-4 h4" title="Общие данные">
  <ng-container>
    <c-row>
      <c-col>
        <c-row>
          <c-col>
            <app-widgets-rgauges></app-widgets-rgauges>
          </c-col>
          <c-col>
            <app-widgets-rgauges></app-widgets-rgauges>
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <app-widgets-rgauges></app-widgets-rgauges>
          </c-col>
          <c-col>
            <app-widgets-rgauges></app-widgets-rgauges>
          </c-col>
        </c-row>
      </c-col>
      <c-col>
        <h5>!!!!</h5>
      </c-col>
    </c-row>
  </ng-container>


</c-widget-stat-b>

