:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.fee {
  //background-color: red;
  border: 0.5px solid #313d52;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
