<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Аварии</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Предупреждения</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>События</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3" cNavLink>ППР/Ремонты</a>
</c-nav>
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3">
    <app-table-event></app-table-event>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-table-event></app-table-event>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-table-event></app-table-event>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-table-event></app-table-event>
  </c-tab-pane>
</c-tab-content>
