<!--  <div class="p-field p-col-12 p-md-4">
    <h5>Basic</h5>
    <p-knob [(ngModel)]="value1"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5>Readonly</h5>
    <p-knob [(ngModel)]="value2" [readonly]="true"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5>Disabled</h5>
    <p-knob [(ngModel)]="value3" [disabled]="true"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5 class="p-mt-3">Min/Max</h5>
    <p-knob [(ngModel)]="value4" [min]="-50" [max]="50"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5 class="p-mt-3">Step</h5>
    <p-knob [(ngModel)]="value5" [step]="10"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5 class="p-mt-3">Template</h5>
    <p-knob [(ngModel)]="value6" valueTemplate="{value}%"></p-knob>
  </div>-->

<c-card class="text-center">
  <c-card-header>
    <h6 class="card-title mb-0">Напряжение вх</h6>
  </c-card-header>
  <c-card-body>
    <div class="field col-12 md:col-4">
    <p-knob [(ngModel)]="value7"
            valueTemplate="{value}V"
            [size]="120">
    </p-knob>
    </div>
  </c-card-body>
</c-card>

<!--  <div class="p-field p-col-12 p-md-4">
    <h5 class="p-mt-3">Size</h5>
    <p-knob [(ngModel)]="value8" [size]="200"></p-knob>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <h5 class="p-mt-3">Color</h5>
    <p-knob
      [(ngModel)]="value9"
      valueColor="SlateGray"
      rangeColor="MediumTurquoise"
    ></p-knob>
  </div>-->

